body form {
    text-align: center;
}

.auto-style2 {
    text-align: left;
}

.bar_bas {
    list-style: none;
    margin-left: 0px;
}
.op_item{
    display:inline;
    margin: 1% 3%;
}

.transbox {
    border-top: solid 2px gold;
    margin: 0 40vw 0 40vw;
    padding: 8px 0 5px 0;
}